rules_version = '2';
service cloud.firestore {
   match /databases/{database}/documents {
     match /salopettes/{anything=**} {
       allow read, write: if true;
     }
     match /pictures/{anything=**} {
       allow write: if true;
       allow read: if true;
     }
   }
 }