.tab-span {
  font-size: 13px;
}
.shading-custom-button {
  margin-top: 16px;
}

.custom-palette-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 16px;
  width: 100%;
}

.custom-palette-number {
  margin-right: 16px;
}
.custom-palette-colors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.custom-palette-color-container {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-palette-color {
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 1px solid darkgrey;
}
