.container {
  background-color: #242424;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapbox-canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mosaic-canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.overmap {
  padding: 8px;
  top: 0;
  left: 0;
  position: absolute;
}

.spinner {
  animation: spin 2s linear infinite;
  width: 18px;
  height: 18px;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}