.scale-tooltip {
  margin-left: 8px;
}
.scale {
  display: flex;
  align-items: center;
  &__time {
    margin-left: 16px;
    &__box {
      min-width: 42px;
      height: 30px;
      border-radius: 2px;
      background: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 4px;
    }
  }
  &__paint {
    margin-left: 16px;
  }
}
.poster-options {
  display: flex;
  &__landscape {
    margin-left: 16px;
  }
}

.drawer {
  height: 100%;
  background-color: white;
  z-index: 1;
  width: ~'min(100%, 288px)';
  min-width: ~'min(100%, 288px)';
  transition: transform 0.4s;
  position: absolute;
  left: 0;
  overflow: scroll;
  box-shadow: ~'0px 0px 10px rgb(0 0 0 / 10%)';

  &--hidden {
    transform: translateX(-100%);
  }

  &__header {
    height: 48px;
    padding: 16px 16px 16px 24px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    &__title {
      display: flex;
      align-items: center;
    }
    &__text {
      margin-left: 8px;
      font-weight: 600;
      font-size: 20px;
    }
  }
  &__content {
    padding: 32px 16px;
    height: 100%;
    width: 100%;
    background-color: @light-grey;
    &__card {
      padding: 16px;
      background-color: white;
      &:not(:first-child) {
        margin-top: 32px;
      }
    }
  }
  &__backgroungs {
    display: flex;
    width: 100%;
    justify-content: space-around;

    &__background {
      cursor: pointer;
      opacity: 0.7;
      &--selected {
        opacity: 1;
      }
      &:not(:first-child) {
        margin-left: 16px;
      }
      .background-image {
        padding: 2px;
        &--selected {
          border: 2px solid @primary-color;
        }
      }
    }
  }
}
