.form {
  margin-top: 16px;
  &__title {
    font-weight: 500;
  }
  &__field {
    margin-top: 8px;
    display: flex;
    align-items: center;

    &__submit {
      margin-left: 16px;
    }
    &__confirm {
      margin-left: 16px;
    }
  }
}
.status-message {
  display: flex;
  &__link {
    margin-left: 8px;
    cursor: pointer;
    color: @primary-color;
    text-decoration: underline;
  }
}
