.color-choice {
  &__configs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    &__config {
      cursor: pointer;
      opacity: 0.7;
      &--selected {
        opacity: 1;
      }
      &:not(:first-child) {
        margin-left: 16px;
      }
      .color-config-image {
        padding: 2px;
        &--selected {
          border: 2px solid @primary-color;
        }
      }
    }
  }
  &__advanced {
    margin-top: 16px;
  }
}

.specific-colors {
  margin-top: 16px;

  &--animated {
    animation: magic-appear 1s;
  }

  &__color {
    display: flex;
    align-items: center;
  }
}

@keyframes magic-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
