@import '~antd/dist/antd.less';
@media screen and (max-width: 767px) {
  input,
  select,
  textarea {
    font-size: 16px;
  }
  /deep/ .ant-input {
    font-size: 16px;
  }
}

.fallback-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
